<a href="https://colab.research.google.com/github/Arbaj-Wadagera/DEV_python/blob/main/DEV_tutorials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import pandas as pd

df_students = pd.DataFrame({
    'student_id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie']
})
df_grades = pd.DataFrame({
    'student_id': [1, 3],
    'grade': ['A', 'B']
})
combined_df = pd.merge(df_students, df_grades, on='student_id', how='left')
print(combined_df)

#page 16 Unit2

   student_id     name grade
0           1    Alice     A
1           2      Bob   NaN
2           3  Charlie     B

In [52]:
import pandas as pd
df_books = pd.DataFrame({
    'book_id': [1, 2],
    'title': ['Python 101', 'Data Science']
})
df_borrowers = pd.DataFrame({
    'id': [1, 3],
    'borrower': ['Alice', 'Charlie']
})
combined_books_borrowers = pd.merge(df_books, df_borrowers, left_on='book_id', right_on='id', how='outer')
print(combined_books_borrowers)

#page 16 Unit2

   book_id         title   id borrower
0      1.0    Python 101  1.0    Alice
1      2.0  Data Science  NaN      NaN
2      NaN           NaN  3.0  Charlie

In [50]:
import pandas as pd
df_orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104, 102, 105],
    'customer_id': [1, 2, 1, 3, 2, 4],
    'product': ['Laptop', 'Phone', 'Laptop', 'Tablet', 'Phone', 'Monitor'],
    'quantity': [1, 2, 1, 1, 2, 2],
    'order_date': ['2023-01-01', '2023-01-02', '2023-01-01',
                   '2023-01-03', '2023-01-02', '2023-01-04']
})
df_orders_cleaned = df_orders.drop_duplicates()
print(df_orders_cleaned)

#page 54 Unit2

   order_id  customer_id  product  quantity  order_date
0       101            1   Laptop         1  2023-01-01
1       102            2    Phone         2  2023-01-02
2       103            1   Laptop         1  2023-01-01
3       104            3   Tablet         1  2023-01-03
5       105            4  Monitor         2  2023-01-04

In [56]:
import pandas as pd
df_employees = pd.DataFrame({
    'employee_id': [1, 2, 3, 4, 5, 6],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank'],
    'department': ['Sales', None, 'IT', 'Sales', None, 'IT'],
    'salary': [50000, None, 60000, 52000, None, None],
    'join_date': ['2020-01-15', '2019-03-22', None, '2021-06-18', None,
                  '2022-01-01']
})
missing_values = df_employees.isnull().sum()
print("Identified missing values:")
print(missing_values,"\n\n")
df_dropped = df_employees.dropna()
print("Dropped rows with missing values:")
print(df_dropped,"\n\n")
df_filled = df_employees.fillna({
    'department': 'Unknown',
    'salary': df_employees['salary'].median(),
    'join_date': '2020-01-01'
})
print("Filled the missing values:")
print(df_filled,"\n\n")
avg_salary = df_filled.groupby('department')['salary'].median()
print("Average salary per department:")
print(avg_salary)

#page 118 Unit2

Identified missing values:
employee_id    0
name           0
department     2
salary         3
join_date      2
dtype: int64


Dropped rows with missing values:
   employee_id   name department   salary   join_date
0            1  Alice      Sales  50000.0  2020-01-15
3            4  David      Sales  52000.0  2021-06-18


Filled the missing values:
   employee_id     name department   salary   join_date
0            1    Alice      Sales  50000.0  2020-01-15
1            2      Bob    Unknown  52000.0  2019-03-22
2            3  Charlie         IT  60000.0  2020-01-01
3            4    David      Sales  52000.0  2021-06-18
4            5     Emma    Unknown  52000.0  2020-01-01
5            6    Frank         IT  52000.0  2022-01-01


Average salary per department:
department
IT         56000.0
Sales      51000.0
Unknown    52000.0
Name: salary, dtype: float64

In [61]:
import pandas as pd
df_temperature = pd.DataFrame({
    'date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
    'temperature': [30.0, None, 32.0, None, 31.0]
})
df_temperature['temperature'] = df_temperature['temperature'].fillna(method='ffill')
print(df_temperature)

#page 96 Unit2

         date  temperature
0  2024-01-01         30.0
1  2024-01-02         30.0
2  2024-01-03         32.0
3  2024-01-04         32.0
4  2024-01-05         31.0

<ipython-input-61-dd39de8118f2>:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_temperature['temperature'] = df_temperature['temperature'].fillna(method='ffill')

In [47]:
import pandas as pd
df_sales=pd.DataFrame({
    'product':['A','B','C','D','E'],
    'Quantity Sold':[100.0,None,50.0,None,80.0],
    'Price':[20.0,25.0,None,None,30.0],
    'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']
})
print("Original DataFrame:")
print(df_sales,"\n\n")
df_sales['Quantity Sold']=df_sales['Quantity Sold'].fillna(0)
df_sales['Price']=df_sales['Price'].fillna(df_sales['Price'].mean())
print("\n DataFrame after filling the missing values.")
print(df_sales)

#page 96 Unit2

Original DataFrame:
  product  Quantity Sold  Price        Date
0       A          100.0   20.0  2023-01-01
1       B            NaN   25.0  2023-01-02
2       C           50.0    NaN  2023-01-03
3       D            NaN    NaN  2023-01-04
4       E           80.0   30.0  2023-01-05



 DataFrame after filling the missing values.
  product  Quantity Sold  Price        Date
0       A          100.0   20.0  2023-01-01
1       B            0.0   25.0  2023-01-02
2       C           50.0   25.0  2023-01-03
3       D            0.0   25.0  2023-01-04
4       E           80.0   30.0  2023-01-05

In [46]:
import pandas as pd
df_scores=pd.DataFrame({
    'Student_id':[1,2,3,4,5],
    'Score':[45.0,67.0,85.0,92.0,55.0]
})
bins=[0,60,75,90,100]
labels=['Low','Medium','High','Very High']
df_scores['category']=pd.cut(df_scores['Score'],bins=bins,labels=labels)
print(df_scores)

#page 65 Unit2

   Student_id  Score   category
0           1   45.0        Low
1           2   67.0     Medium
2           3   85.0       High
3           4   92.0  Very High
4           5   55.0        Low

In [45]:
import pandas as pd
df_math_score=pd.DataFrame({
    'Student ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Score': [85, 90, 75, 80, 95, 70, 88, 76, 92, 84]
})
sample_without_replacement=df_math_scores.sample(n=5, replace=False)
print("Sample without replacement:")
print(sample_without_replacement)
sample_with_replacement=df_math_scores.sample(n=5, replace=True)
print("\nSample with replacement:")
print(sample_with_replacement)

#page 140 Unit2

Sample without replacement:
   Student ID  Score
1           2     90
4           5     95
9          10     84
2           3     75
8           9     92

Sample with replacement:
   Student ID  Score
5           6     70
3           4     80
4           5     95
4           5     95
8           9     92